$black: #353732;

.header {
  &-nav {
    padding: 1rem;
    background: #d2d7cd;
  }
}

.main-nav {
  float: left;
  margin-top: 0.6rem;
  color: $black;
  font-size: 1.4rem;
  text-transform: uppercase;

  &-item {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
  }

  &-link {
    font-weight: 100;
    transition: all 0.5s;

    &:hover {
      color: #7e8179;
    }

    &.active {
      font-weight: 900;
    }
  }

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
}

.social-nav {
  float: right;

  &-item {
    display: inline-block;
    margin-left: 1rem;
  }

  &-link {
    display: inline-block;
    width: 3rem;
    line-height: 3rem;
    background: white;
    border-radius: 50%;
    color: $black;
    font-size: 1.4rem;
    text-align: center;
    transition: all 0.5s;

    &:hover {
      background: $black;
      color: white;
    }
  }
}

.header-slider {
  position: relative;
}

.main-slider {
  &-item {
    overflow: hidden;
    font-size: 0;
  }

  &-image {
    width: 100%;
  }
}

.slider-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
}

.logo {
  display: inline-block;
  padding: 1rem;
  color: white;
  font-size: 6rem;
  font-weight: 900;
  text-transform: uppercase;
  border: 2px solid white;

  &-image {
    width: 4.5rem;
  }
}


$list-width: 94rem;
$circle-size: 28rem;
$list-margin: $list-width / 4 - $circle-size;

.slide-nav {
  margin-top: 2rem;
  margin-left: $list-margin;
  width: $list-width;
  font-size: 0;

  &-item {
    display: inline-block;
    width: 25%;
    color: white;

    .cell {
      max-width: 70%;
    }

    .title {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 2.3rem;
      text-transform: uppercase;
    }

    .add-title {
      display: block;
      margin-bottom: 1rem;
      font-size: 2.2rem;
      text-transform: uppercase;
    }

    .text {
      display: block;
      line-height: 1.3;
      font-size: 1.4rem;
    }

    .circle {
      display: block;
      width: $circle-size;
      height: $circle-size;
      border-radius: 50%;
      transition: all 0.8s;

      &.orange {
        background: rgba(247, 198, 80, 0.85);

        &:hover {
          background: rgba(247, 198, 80, 1);
        }
      }
      &.yellow {
        background: rgba(231, 232, 112, 0.85);

        &:hover {
          background: rgba(231, 232, 112, 1);
        }
      }
      &.green {
        background: rgba(163, 224, 98, 0.85);

        &:hover {
          background: rgba(163, 224, 98, 1);
        }
      }
      &.blue {
        background: rgba(139, 217, 231, 0.85);

        &:hover {
          background: rgba(139, 217, 231, 1);
        }
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}

.flex-item:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
}
