$red: #ff7545;
$orange: #ff9100;
$sea: #03aeb0;
$green: #5db706;
$violet: #665bce;
$blue: #0198cd;
$gray: #ccc;
$lightBlack: #242424;

html, body {
  height: 100%;
  font-size: 10px;
  font-family: Arial;
}

body {
  background: white;
}

.app {
  height: 100%;
  color: #242424;
}

.thin-wrapper {
  max-width: 120rem;
  margin: 0 auto;
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.ib-center {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }

  &-cell {
    display: inline-block;
    vertical-align: middle;
  }
}