$black: #353732;
$gray: #7e8179;
$orange: rgba(247, 198, 80, 1);
$yellow: rgba(231, 232, 112, 1);
$green: rgba(163, 224, 98, 1);
$blue: rgba(139, 217, 231, 1);
$purple: rgba(241, 217, 223, 1);
$red: rgba(247, 87, 80, 1);

html, body {
  height: 100%;
  font-size: 10px;
  font-family: Arial;
}

body {
  background: #f1f3ee;
  color: $black;
}

.app {
  min-height: 100%;
}

.thin-wrapper {
  max-width: 120rem;
  margin: 0 auto;
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.ib-center {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }

  &-cell {
    display: inline-block;
    vertical-align: middle;
  }
}

.orange {
  background: $orange;
}
.orange-text {
  color: $orange;
}
.yellow {
  background: $yellow;
}
.yellow-text {
  color: $yellow;
}
.green {
  background: $green;
}
.green-text {
  color: $green;
}
.blue {
  background: $blue;
}
.blue-text {
  color: $blue;
}
.purple {
  background: $purple;
}
.purple-text {
  color: $purple;
}
.red {
  background: $red;
}
.red-text {
  color: $red;
}