$red: #ff7545;
$orange: #ff9100;
$sea: #03aeb0;
$green: #5db706;
$violet: #665bce;
$blue: #0198cd;
$gray: #ccc;
$lightBlack: #242424;

html, body {
  height: 100%;
  font-size: 10px;
  font-family: Arial;
}

body {
  background: url("./images/cork-wallet.png");
}

.app {
  height: 100%;
}

.thin-wrapper {
  max-width: 120rem;
  margin: 0 auto;
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.page-title {
  margin-bottom: 2rem;
  color: $lightBlack;
  font-size: 3rem;
  text-align: center;
}