$red: #ff7545;
$orange: #ff9100;
$sea: #03aeb0;
$green: #5db706;
$violet: #665bce;
$blue: #0198cd;
$gray: #ccc;
$lightBlack: #242424;

.actions-page {
}

.actions {

  &-item {
    position: relative;
    overflow: hidden;
    background: white;
    box-shadow: 0.2rem 0.2rem 1rem 0.2rem rgba(0, 0, 0, 0.2);
    border-right: 0.2rem solid $orange;

    .image {
      width: 50%;
      margin-right: 2rem;
      float: left;
    }

    .title {
      padding: 2rem;
      margin-left: 50%;
      color: $red;
      font-size: 2.5rem;
      line-height: 1.3;
    }

    .description {
      padding: 0 2rem;
      margin-left: 50%;
      font-size: 1.5rem;
      line-height: 1.2;
      text-align: justify;
    }

    &:nth-child(even) {
      border-right: none;
      border-left: 0.2rem solid $orange;

      .image {
        margin-right: 0;
        margin-left: 2rem;
        float: right;
      }

      .title {
        margin-left: 0;
        margin-right: 50%;
      }

      .description {
        margin-left: 0;
        margin-right: 50%;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}