$black: #353732;
$gray: #7e8179;
$orange: rgba(247, 198, 80, 1);
$yellow: rgba(231, 232, 112, 1);
$green: rgba(163, 224, 98, 1);
$blue: rgba(139, 217, 231, 1);
$blue-light: #b5e7f0;
$blue-strong: #61cbde;
$purple: rgba(241, 217, 223, 1);
$red: rgba(247, 87, 80, 1);

.actions-page {
  padding: 2rem 0;
}

.actions {
  height: 65rem;
  overflow: hidden;
}

.actions-title-list {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 100%;
  overflow: auto;

  .item {
    padding: 1.5rem;
    margin-bottom: 0.1rem;
    color: white;
    cursor: pointer;
    transition: all 0.5s;

    &.pre-active {
      background: $blue-light;
    }

    &:hover {
      background: $blue-strong;
    }

    &.active {
      padding: 2.5rem 1.5rem;
      background: white;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    margin-bottom: 1rem;
    font-size: 2rem;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .date {
    font-size: 1.3rem;

    &-text {
      display: inline-block;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  .icon {
    margin-right: 0.3rem;
  }
}

.active-action {
  display: inline-block;
  padding: 3rem;
  vertical-align: top;
  width: 75%;
  height: 100%;
  overflow: auto;
  background: white;
  color: $blue-strong;

  .title {
    margin-bottom: 2rem;
    font-size: 2.4em;
    text-transform: uppercase;
    transform: translateX(100%);
  }

  .when-where,
  .goal {
    margin-bottom: 2rem;
    font-size: 1.6em;
    color: $gray;
    transform: translateX(-100%);
    animation-delay: 0.2s;

    .item {
      display: inline-block;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
        margin-left: 1rem;
      }
    }
  }

  .goal {
    color: $blue-strong;
    font-weight: bold;
    transform: translateX(100%);
    animation-delay: 0.4s;
  }

  .description {
    font-size: 1.4em;
    line-height: 1.6;
    text-align: justify;
    color: $gray;
    opacity: 0;
    animation-delay: 0.6s;

    .p {
      margin-bottom: 0.5rem;
    }
  }

  .icon {
    margin-right: 0.5rem;
  }
}